.sidebar
{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link
{
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-link:hover
{
    background-color: rgb(235, 235, 235);
}

.sidebar-link img
{
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div
{
    font-family: Roboto, Arial;
    font-size: 10px;
}

@media (max-width: 1200px)
{
    .sidebar
    {
        width: 75px;
    }
}

@media (min-width: 1200.1px)
{
    .sidebar
    {
        width: 250px;
    }

    .sidebar-link
    {
        height: 45px;
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .sidebar-link div 
    {
        margin-left: 20px;
        font-size: 17px;
    }    

    .sidebar-link img 
    {
        margin-left: 60px;
        margin-bottom: 0;
    }

    .video-grid
    {
        margin-left: 180px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    
}